/*NavBar colors*/
.navbar {
  background-color: #1d3e63;
}

/*Btn colors primary*/
.btn-primary {
  color: #fff;
  background-color: #3365aa;
  border-color: #214a83;
}
.btn-primary:hover {
  color: #fff;
  background-color: #b0cedb;
  border-color: #4f78aa;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #3365aa;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3365aa;
  border-color: #214a83;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*Btn colors secondary*/
.btn-secondary {
  color: #fff;
  background-color: #80b5e2;
  border-color: #6490b6;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #0f2540;
  border-color: #364f6e;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6490b6;
  border-color: rgb(52, 57, 61);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

/*Navbar toogle*/

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(15,37,74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(15,37,74, 1);
}

/*dropdown*/
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  right: 3px;
  top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
  display: block;
  margin-top: -1px;
  margin-left: -1px;
  top: 0px;
  left: 100%;
  min-height: 100%;
}

.dropdown-menu {
  max-height: 280px !important;
  overflow-y: auto !important;
}

#bootstrap-edits .add-to-ul {
  position: relative;
  width: 100%;
  top: 0;
}

#bootstrap-edits .add-to-dropdown-div {
  min-height: 100%;
}

/*Modal*/

.page {
  margin-top: 0%;
}

.btn {
  border-radius: 15px;
  width: 80%;
  margin-top: 2%;
}

form {
  padding: 0;
  margin-left: 15%;
}

.form-control {
  width: 100%;
  border-radius: 25px;
}

.fa {
  color: white;
  margin-top: 5%;
}

.in {
  color: #495057;
  margin-right: 100%;
}

.in2 {
  color: #495057;
  margin-right: auto;
}

.my {
  background-color: #bcc2be;
  border: none;
}

@media only screen and (max-width: 600px) {
  row {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/**/


@media (min-width: 768px) {
  .modal-dialog {
    width: 200%;
    margin: 30px auto;
  }
}

